
  @import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Tektur', cursive;
}
html{
  scroll-behavior: smooth;
}
a,
.btn{
  transition: all ease-out 300ms;
}
.main{
  position: relative;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1.5fr 1.5fr;
  grid-template-rows: 180px 1fr ;
}
#nav-bar{
grid-column-start:1 ;
grid-column-end: 3;
position: relative;
background-color: #6caddf;
display: flex;
justify-content: space-around;
align-items: center;
}
#nav-bar>#logo{
position: absolute;
left: 20%;
top: 20%;
height: 100%;
}
#nav-bar>#logo:hover{
  cursor: pointer;
}
#nav-links ul{
  position: absolute;
  right: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-bar>#nav-links>ul>li{
  list-style: none;
  padding: 10px 10px;
}
#nav-bar>#nav-links>ul>li>a:hover{
  color: #fadfee;
  text-decoration: underline;
  text-decoration-color: #fadfee;
  text-underline-offset: 8px;
}
#nav-bar>#nav-links>ul>li>a{
  text-decoration: none;
  color: white;
}
.main #profile{
  position: relative;
  background-color:#6caddf ;
  grid-column-start:1 ;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#profile>img{
position: absolute;
top: 7%;
left: 30%;
width: 50%;
}
#text-box{
  position: relative;
  background-color: #6caddf ;
  grid-column-start:2 ;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#text-box>h3{
  position: absolute;
  top: 25%;
  left: 4%;
  color: white;
  font-size: 34px;
}
#text-box>h2{
  position: absolute;
  top: 31%;
  left: 4%;
  color: #fadfee;
  font-size: 34px;
}
#text-box>p{
  position: absolute;
  top: 38%;
  left: 7%;
  color: white;
  font-size: 16px;
}
#text-box>h6{
  position: absolute;
  top: 23%;
  left: 2%;
  color: #fadfee;
  transform: rotate(-20deg);
  font-size: 12px;
}
#text-box>.btn-1{
  padding: 7px 6px;
  position: absolute;
  top:43% ;
  left: 8%;
  border: none;
  border-radius: 10px;
  color: #0cc0df;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 150);

}
#text-box>.btn-1:hover{
 color: #fadfee;
 background-color: black;
 cursor: pointer;
  
}
#text-box>.btn-2{
  padding: 7px 6px;
  position: absolute;
  top:43% ;
  left: 19%;
  border: none;
  border-radius: 10px;
  color: #0cc0df;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 150);

}
#text-box>.btn-2:hover{
 color: #fadfee;
 background-color: black;
 cursor: pointer;
  
}
.social-links-1{
  padding: 10px 7px;
  position: absolute;
  top:48% ;
  left: 14%;
}
.social-links-2{
  padding: 10px 7px;
  position: absolute;
  top:48% ;
  left: 18%;
}