  @import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

  *{
    margin: 0;
    padding: 0;
  }

  body{
    font-family: 'Handjet', cursive;
  }

  html{
    scroll-behavior: smooth;
    font-size: 62.5%;
  }

  p{
    color: rgb(85, 85, 85);
  }

  a, 
  .btn{
    transition: all ease 300ms;
  }

  nav,
  .nav-links{
    display: flex;
  }

  nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    position: sticky;
    top: 0;
  }

  .nav-links{
    gap: 3.2rem;
    list-style: none;
    font-size: 2.4rem;
  }
  .nav-links li a{
    color: black;
    text-decoration: none;
  }
  .nav-links li a:hover{
    color: rgb(80, 80, 80);
    text-decoration: underline;
    text-decoration-color: #0cc0df;
    text-underline-offset: 1rem;
  }
 
  .logo:hover{
    cursor: pointer;
  }
  .hamburger-nav{
display: none;
  }

  /* Profile Section  */

  .section_pic-container img{
    height: 50vh;
  }

  .profile{
 border: 2px solid lightgray;
 box-shadow: 1px 1px 5px rgba(0, 0, 0, 150);
 display: flex;
 justify-content: space-evenly;

 background-color: #0cc0df;
 border-radius: 5px;
 width: 80vw;
 height: 80vh;
 margin-left: 150px;
  }

  .profile .section_pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
  }

 .profile .section_text{
  align-self: center;
  text-align: center;
 }
 .profile .section_text p{
  font-weight: 600;
 }
 .section_text_p1{
  text-align: center;
  font-size: 3rem;
  color: pink;
 }
 .section_text_p2{
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 1.7rem;
  color: white;
 }
 .title{
  font-size: 3rem;
  text-align: center;
  color: rgb(53, 53, 53);
 }
 .social-container{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1.5rem;
 }
 .icon{
  cursor: pointer;
  height: 3.5rem;
 }

 .btn-container{
  display: flex;
  gap: 1.6rem;
  justify-content: center;
 }

 .btn{
  font-weight: 600;
  padding: 1rem;
  width: 12rem;
  border-radius: 3rem;
 }

 .btn-color-1,
 .btn-color-2{
border: rgb(53, 53, 53)0.1rem solid;
box-shadow: 1px 1px 5px;
 }
 .btn-color-1:hover,
 .btn-color-2:hover{
cursor: pointer;
background-color: #0cc0df;
color: white;
border: 1px solid white;
 }

 /* About Section  */

 #about{
  position: relative;
  /* background-color: aqua; */
  width: 70%;
  margin: auto;
 
 }
 .section-container{
  display: flex;
  gap: 10rem;
  height: 100vh;
  align-items: center;
 }
 .section_pic_container img{
  width: 200px;
 }
#about .section_text_p1{
  position: absolute;
  top: 10%;
  left: 50%;
}
#about .title{
  position: absolute;
  top: 20%;
  left: 52%;
}
.about-containers{
  display: flex;
  gap: 5.5rem;
}
.about-containers h3{
  font-size: 4.5rem;
  margin-bottom: 1.3rem;
}
.about-containers p{
  font-size: 2.5rem;

}
.details-container img{
  height: 6rem;
}
.text-container p{
  font-size: 2rem;
  font-style: italic;
  margin-top: 5rem;
}

/* Experienced Section  */

#experience{
  position: relative;
  width: 70%;
  margin: auto;
  margin-bottom: 5rem;
}
.experience-sub-title{
  color: #0cc0df;
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}
.article-container{
display: flex;
text-align: initial;
flex-direction: row;
justify-content: space-around;
gap: 8rem;
flex-wrap: wrap;
}
article{
  border: 1px solid black;
  border-radius: 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#experience .experience-sub-title,
.experience.title{
  text-align: center;
}
#experience .experience-sub-title{
  margin-left: 1rem;
}

/* Project Section  */
#projects{
  width: 70%;
  margin: auto;
}
#project .title{
  text-align: center;
}
#projects .article-container{
  margin-top: 10rem;
  height: 500px;
  width: 500px;
}
#projects .details-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  justify-content: space-evenly;
}
.color-container{
  border-color: rgb(181, 181, 181);
  background-color: rgb(250, 250, 250);
}

.article-container .project-img{
  border-radius: 3.2rem;
  width: 100%;
  height: 70%;
}
.project-title{
  margin: 1.6rem;
  color: black;
}
.prject-btn{
color: black;
border-color: rgb(163, 163, 163);
}

/* Contact Form  */
.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50vw;
  margin: auto;
  margin-top: 20px;
  
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #0cc0df;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
  color: #0cc0df;
}
