
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Tektur&display=swap');

  body{
    font-family: 'Poppins', sans-serif;

  }
  /*--------------------Login Container-----------------------------*/

.box-area{
  width: 930px;
 
}

/*--------------------Right Box-----------------------------*/
.right-box{
  padding: 40px 30px 40px 40px;
}

/*--------------------Custom Placeholder-----------------------------*/
::placeholder{
  font-size: 16px;
}